* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.div1 {
  display: flex;
  background-color: rgb(33, 28, 28);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 30px;
  height: 13vh;
}
.div1 h1 {
  font-size: 45px;
}
#home {
  color: rgb(247,109,55);
}
.div1 a {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
  margin: 0 10px;
  font-size: 20px;
}
.div1 a:hover {
  color: rgb(247,109,55);
}
.div2 {
  background-image: url("./banner-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10px 0px 25px 0px;
  height: 72vh;
}
.container {
  width: 550px;
  margin: 50px 10px 30px 50px;
}
.outstanding {
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.coffeeshop {
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 0 20px 0;
  font-size: 20px;
}
.coffeecontent {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px; 
}
.btn {
  border: none;
  padding: 15px 30px;
  font-weight: bold;
  background-color: rgb(43, 40, 40);
  color: white;
  transition: background-color 0.8s;
  margin-top: 50px;
  }
  .btn:hover {
    background-color: rgb(247,109,55);
    cursor: pointer;
  }
  .arrows {
    text-align: center;
    font-size: 20px;
    color: black;
    
  }
  .arrows a {
    color: black;
  }
  #arrows {
    text-align: center;
    background-color: white;
    padding: 15px 20px;
    margin: 0 8px;
    transition: background-color 0.8s;
  }
  #arrows:hover {
    background-color: rgb(247,109,55);
    color: white;
  }
  .div3 {
    display: flex;
    justify-content: space-between;
  }
    .container2 {
    width: 100%;
    display: inline-flex;
  }

   .div3left {
    flex-wrap: wrap;
    width: 50%;
    margin: 200px 80px;
    float: left;
  }
  .aboutus {
    color: rgb(247,109,55);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin: 50px 0 10px 0;
  }
  .aboutuscontent1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0 15px 0;
  }
  .aboutuscontent2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0 50px 0;
  }
  .div3right {
    width: 50%;
    float: right;
    margin: 150px 0;
  }
  .div4 {
    margin: 0 60px;
  }
  .ourgallery {
    color: rgb(247,109,55);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 0 0 30px 0;
    text-align: center;
  }
  .gallerycontent {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 50px;
  }
  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1px;
    row-gap: 1px;
    margin: 20px 80px 0 70px;
  }
  .grid div {
    width: 100%;
  }
   .div5btn {
    padding: 12px 45px;
    margin-top: 30px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    transition: background-color 0.8s;
  }
  .div5btn:hover {
    background-color: rgb(247,109,55);
    cursor: pointer;
  }
  .button {
    text-align: center;
  }
  .div6 {
    background-image: url("./services-bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 85vh;
    margin-top: 80px;
    background-attachment: fixed;
    padding: 5px 50px 0 50px;
  }
  .services {
    text-align: center;
    color: white;
    margin: 90px 0 50px 0;
  }
  .serviceheader {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .servicescontent {
    padding: 12px 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .collage {
    display: flex;
    width: 100%;
  }
  .servicecontainer1 {
    float: left;
    width: 33.3%;
    text-align: center;
    background-color: rgb(247,109,55);
    margin: 0 20px ;
  }
  .icon1 {
    margin: 50px 0 0 0;
  }
  .head1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
  }
  .subhead1 {
    color: white;
    margin: 10px 15px 35px 15px;
  }
  .servicecontainer2 {
    width: 33.3%;
    text-align: center;
    background-color: rgb(247,109,55);
    margin: 0 20px ;
  }
  .icon2 {
    margin-top: 35px;
  }
  .head2 {
    font-size: 30px;
    color: white;
    margin-top: 20px;
    margin-bottom: 12px;
  }
  .subhead2 {
    color: white;
    margin: 0 15px 0 15px;
  }
  .servicecontainer3 {
    width: 33.3%;
    text-align: center;
    background-color: rgb(247,109,55);
    margin: 0 20px ;
  }
  .icon3 {
    margin-top: 35px;
  }
  .head3 {
    font-size: 30px;
    color: white;
    margin-top: 20px;
    margin-bottom: 12px;
  }
  .subhead3 {
    color: white;
    margin: 0 15px 0 15px;
  }
  .collagebtn {
    padding: 20px;
  }
  .pressbtn {
    padding: 20px;
    border: none;
    cursor: pointer;
  }
  .collagebtn {
    opacity: 0;
    transition: 1s;
  }
  .collagebtn:hover {
    opacity: 100;
  }
  .div7 {
    margin-top: 100px;
    margin-left: 60px;
  }
  .intest {
    color: rgb(247,109,55);
    padding-bottom: 20px;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .intestwords {
    font-family: Arial, Helvetica, sans-serif;
  }
  .monila {
    color: rgb(247,109,55);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    margin-top: 30px;
    margin-left: 120px;
  }
  .monilawords {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 50px;
    padding-right: 40px;
  }
  .class {
    display: flex;
  }
  .contactus {
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(247,109,55);
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .contactback {
  margin: 20px 0 0 20px;  
  }
  .placeholders {
    border: none;
    border-radius: 30px;
    padding: 10px 50px 10px 10px;
    margin: 10px 0 0 0;
  }
  .messagebox {
    border: none;
    border-radius: 30px;
    padding: 40px 30px ;
    margin: 10px 50px 0 0;
  }
  .sendbtn {
    margin: 10px 0 193px 20px;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    background-color: rgb(247,109,55);
    color: white;
    transition: background-color 0.8s;
  }
  .sendbtn:hover {
    background-color: white;
    cursor: pointer;
    color: black;
  }
  .div8left {
    flex-wrap: wrap;
    width: 50%;
    background-image: url("./img-9.png");
    background-repeat: no-repeat;
  }
  .location {
    flex-wrap: wrap;
    width: 50%;
  }
  .finalcollage {
    width: 100%;
    display: inline-flex;
  }
  .div9 {
    background-color:rgb(37, 37, 37);
    height: 40vh;
  }
  .div9collage {
    display: inline-flex;
    color: white;
    width: 100%;
  }
  .div9 a {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
    margin: 0 10px;
  }
  .div9 a:hover {
    color: rgb(247,109,55);
  }
  .abouttab {
    flex-wrap: wrap;
    width: 25%;
    margin: 60px 30px 0px 30px;
  }
  .abouthead {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding: 10px 20px;
  }
  .aboutcontent {
    padding: 0 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .menutab {
    flex-wrap: wrap;
    width: 25%;
    margin: 60px 30px 0px 30px;
  }
  .menuhead {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding: 10px 10px;
  }
  .menucontent {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .usefullinktab {
    flex-wrap: wrap;
    width: 25%;
    margin: 60px 30px 0px 30px;
  }
  .usefulhead {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding: 10px 0px;
  }
  .usefulcontent {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .contactustab {
    flex-wrap: wrap;
    width: 25%;
    margin: 60px 30px 0px 30px;
  }
  .contactushead {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding: 10px 20px;
  }
  .contactuslinks {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .span {
    padding-left: 10px;
  }
  .dl {
    padding-bottom: 7px;
  }
